<?xml version='1.0' encoding='utf-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>1000</particles>
  <batches>10</batches>
  <inactive>2</inactive>
  <output>
    <summary>true</summary>
    <tallies>true</tallies>
  </output>
  <mesh id="2">
    <dimension>10 10 10</dimension>
    <lower_left>-125.0 -125.0 -130.0</lower_left>
    <upper_right>125.0 125.0 130.0</upper_right>
  </mesh>
  <entropy_mesh>2</entropy_mesh>
</settings>
